%li.nearby-brunch.row.no-gutters
  .card
    .row.no-gutters
      .col-auto
        %img{:alt => "Card image cap", src: "https://via.placeholder.com/150"}
      .col
        .card-body
          .card-text.text-muted Nick W joined the Team Pin Monkeys Various have evolved over the years, sometimes
      .col-2
        .time-ago 12 minutes ago
