.container
  .row.row-1
    .col-8
      {% include jumbotron.haml %}
    .col
      %h1 nearby brunches
      %ul.card-group
        {% include season.haml %}
        {% include season.haml %}
        {% include season.haml %}
