.experience__card
  .card
    .row
      .col-2
        .icon
          %img.img-fluid{:alt => "Card image cap", src: "https://via.placeholder.com/2000"}
      .col
        .card-body
          .card-title {{include.title}}
          .card-text
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, commodi, consequuntur cumque distinctio et fugafugiat
            |id maiores minima optio rerum veniam? Culpa explicabo nihil ut? Assumenda aut deserunt reprehenderit.