.find-circle
  .row.row--padded
    .col
      .find-circle__heading
        .display-4 Find your
        .display-3 Social Circle
      .find-circle__desc
        %p Whether you’re the worst bowler ever or you live on the lanes, BOB’s coed social leagues are setup to make meeting new people and having a blast as easy as possible. With 6 weeks of casual bowling, you get to hang with your team, play trivia for prizes, and then head to the after-bowling bar to play some bar/board games and kick it with the rest of the league!
        %p Whether you’re the worst bowler ever or you live on the lanes, BOB’s coed social leagues are setup to make meeting new people and having a blast as easy as possible. With 6 weeks of casual bowling, you get to hang with your team, play trivia for prizes, and then head to the after-bowling bar to play some bar/board games and kick it with the rest of the league!
    .col
      .embed-responsive.embed-responsive-16by9
        -#%iframe.embed-responsive-item{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430", :src => "http://www.youtube.com/embed/N6rkcymDlH0", :title => "YouTube video player", :width => "640"}
