.find-brunches
  .row
    .col
      %img.img-fluid{:alt => "describe experience image", src: "https://via.placeholder.com/1500"}
    .col
      %img.img-fluid{:alt => "describe experience image", src: "https://via.placeholder.com/1500"}
    .col
      .find-brunches__call-to-action.d-flex.justify-content-center.align-items-center
        .jumbo-wrapper
          %h1 Join the fun
          %p.lead Coed Social Brunches Find Your People
          %hr.my-4/

          %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Find Brunches! ->
    .col
      %img.img-fluid{:alt => "describe experience image", src: "https://via.placeholder.com/1500"}
    .col
      %img.img-fluid{:alt => "describe experience image", src: "https://via.placeholder.com/1500"}


  .row
    .col
      %img.img-fluid{:alt => "describe experience image", src: "https://via.placeholder.com/1500"}
    .col
      %img.img-fluid{:alt => "describe experience image", src: "https://via.placeholder.com/1500"}
    .col
      %img.img-fluid{:alt => "describe experience image", src: "https://via.placeholder.com/1500"}
    .col
      %img.img-fluid{:alt => "describe experience image", src: "https://via.placeholder.com/1500"}
