.how-it-works
  .row.row--padded
    .how-it-works__header
      %h6 how it works
      %h1 Brunch series fun
    .card-deck
      {% include how-it-works__card.haml action="Pick your theme" %}
      {% include how-it-works__card.haml action="Meet your table" %}
      {% include how-it-works__card.haml action="Enjoy on epic brunch" %}