.card
  %img.card-img-top{:alt => "Card image cap", src: "https://via.placeholder.com/150"}
  .card-body
    .card-title {{include.action}}
    .card-text
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, commodi, consequuntur cumque distinctio et fuga
      fugiat id maiores minima optio rerum veniam? Culpa explicabo nihil ut? Assumenda aut deserunt reprehenderit.