.join
  .jumbotron.d-flex.justify-content-center.align-items-center
    .jumbo-wrapper
      %h1 Join the better off brunching team!
      %p.lead About new leagues and fun events in the city!
      %hr
      %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Apply today ->
