.container-fluid
  .row.p-3
    .col.p-3
      .what-how What is Bob?
    .col.p-3
      .what-how How to sign up?

  .row.p-3
    .col.p-3
      .what-how Meet your people
    .col.p-3
      .what-how Brunch photos
