%h1 nearby brunches
%ul.card-group
  {% include season.haml name="bistro 1" %}
  {% include season.haml name="bistro 2" %}
  {% include season.haml name="bistro 3" %}
.view-all
  %a.btn.btn-secondary.btn-lg.btn-block{href: ''} View all nearby brunches