.col
  %h1 Recent {{include.name}
  %ul.card-group
    {% include card--recent-{{include.name}}.haml title="League information Mailing List" %}
    {% include card--recent-news.haml title="Brunch currently Opening season" %}
    {% include card--recent-news.haml title="Brunches currently in registration" %}
  .view-all
    %a.btn.btn-secondary.btn-lg.btn-block{href: ''} View all news