.reserve
  .row
    .col
      .jumbotron.d-flex.justify-content-center.align-items-center
        .jumbo-wrapper
          %h1.display-4 Reserve your spot!
          %p.lead This is some description for reserve your spot
          %hr.my-4/

          %a.btn.btn-secondary.btn-lg{:href => "#", :role => "button"} More info ->
          %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Apply now ->
