%li.nearby-brunch.row.no-gutters
  .card
    .row.no-gutters
      .col-auto
        %img{:alt => "Card image cap", src: "https://via.placeholder.com/150"}
      .col
        .card-body
          .brunch-season Feb - Mar (Thursdays)
          .card-title Rick's bistro
          .card-subtitle.brunch-city New York
          .card-text.text-muted Registration closes tomorrow 1-11-19