%nav.nav.nav-pills.nav-fill
  %a.nav-item.nav-link.btn.btn-outline-secondary How to sign up
  %a.nav-item.nav-link.btn.btn-outline-secondary What is bob
  %a.nav-item.nav-link.btn.btn-outline-secondary Brunch experience
  %a.nav-item.nav-link.btn.btn-outline-secondary Find your people
  %a.nav-item.nav-link.btn.btn-outline-secondary Photos
